.rbc-time-view, .rbc-month-view, .rbc-agenda-view {
    background: #1b1d23;
    border-color: #3c453d;
}
.rbc-day-bg + .rbc-day-bg, .rbc-month-row + .rbc-month-row, .rbc-month-view .rbc-header + .rbc-header, .rbc-month-view .rbc-header, .rbc-toolbar button, .rbc-time-content > * + * > *, .rbc-timeslot-group, .rbc-time-header > .rbc-row > * + *, .rbc-time-header > .rbc-row:first-child, .rbc-time-content, .rbc-day-slot .rbc-time-slot {
    border-color: #3c453d;
}
.rbc-event {
  background-color: #9abfff;
  color: #1b1d23;
  font-weight: bold;
}
.rbc-day-bg.rbc-off-range-bg {
    background: #000;
}
.rbc-day-slot .rbc-event {
  border-color: #0c100d
}
.rbc-day-bg {
    transition: .4s cubic-bezier(0.25, 0.1, 0.3, 2.23);
}

span.rbc-btn-group button {
    background: #f4c075;
    color: #000;
}

.rbc-selected-cell {
  background-color: #44ff5930;
}
.rbc-today {
    background-color: #ffb24430;
}
.rbc-calendar {
    color: #acbbae;
}
button.rbc-active {
    color: #000!important;
}
